---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Fullstack developer with 10 years + of experience in web development. Knowledge of various programming
    languages and frameworks. Mainly worked with Angular and Java/Spring.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Full Stack Developer at rinf.tech"
      subtitle="From 2021"
      desc="In this role, I focused on two key internal banking applications. My main work involved building reusable common components in Angular for the user interface, alongside developing the backend API. I also had the opportunity to mentor a few junior developers and expanded my skills by learning GraphQL."
      technologies="Angular 9, NgRx (for state management), Java/Spring Boot, GraphQL, Keycloak (for JWT authentication), Jenkins, Fabric, jBPM/Camunda (for workflow management)."
    />
    <TimeLineElement
      title="Senior Full Stack Developer at Extia Romania"
      subtitle="From 2020 to 2021"
      desc="I was entirely dedicated to building a new portal UI for a telco company, redesigning it from an older version. I helped with the integration of the backend and frontend, including designing the API and the authentication process. I collaborated with the design team to create the new portal using Angular 9 and the Nebular component framework. On the backend, I designed a microservices architecture using Spring Cloud, which included a config server, Eureka server, gateway server, and various microservices. These communicated with a MySQL database or external services. OAuth2 with Keycloak was used for authentication and authorization. All services were deployed as Docker containers."
      technologies="Angular 9, Nebular, NgRx, Spring Cloud, MySQL, OAuth2, Keycloak, Docker."
    />
    <TimeLineElement
      title="Frontend developer at Deloitte Digital"
      subtitle="From 2018 to 2020"
      desc="I worked on maintaining and developing new features for an existing e-commerce web application. This was an international team, and we used an Agile development process with continuous integration. I built my projects using Gradle locally and Jenkins for test environments. Higher environments were hosted on AWS, and we used Splunk for logging. The application was set up in Docker containers. We used Jira for task management and Bitbucket for code. My frontend work involved Adobe Experience Manager as a content management system, coupled with jQuery and SASS. The backend used the Hybris platform, extended by microservices for extra functionality. I used Karma and Jasmine for testing my code."
      technologies=" jQuery, SASS, Adobe Experience Manager, Hybris, Docker, Jenkins, AWS, Splunk."
    />
    <TimeLineElement
      title="Java Developer at Unicredit Integrated Solutions"
      subtitle="From 2016 to 2018"
      desc="My role involved developing internal banking applications for employees. I worked on various financial projects, primarily programming in Java, specifically using JavaEE in one project and Spring in another. I worked with Teradata SQL and SQL Server databases, modeling them in Java using JPA with Hibernate. For the frontend, I used JSF with frameworks like RichFaces and PrimeFaces."
      technologies="Java/Spring, JSF, Hibernate, SQL Server, Teradata SQL."
    />
    <TimeLineElement
      title="Junior Java Developer at ALTEN Romania"
      subtitle="From 2014 to 2016"
      desc="I worked on two projects here. The first was maintaining a banking customer application. The second involved developing an e-commerce application from scratch that allowed the creation of bills. My backend work was in JavaEE. I worked with MySQL and SQL Server for databases, and used LifeRay and WebSphere as servers. For the frontend, I used JSF and PrimeFaces related to Java, and also worked with AngularJS and jQuery for JavaScript."
      technologies="Java, JSF, PrimeFaces, LifeRay, AngularJS, jQuery, MySQL, SQL Server."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Angular</li>
    <li>MySQL</li>
    <li>GraphQL</li>
    <li>SQL Server</li>
    <li>Spring</li>
    <li>Spring Boot</li>
    <li>Nebular</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>NgRx</li>
    <li>AngularJS</li>
    <li>Bootstrap</li>
    <li>jQuery</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Bitbucket</li>
    <li>Scrum</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>English</li>
  </ul>
</BaseLayout>
